<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p>
            <strong>Title</strong>: {{post.title}}</p>
          <p>
            <p>
              <strong>Genre</strong>: {{post.genre}}</p>
            <p>
              <p>
                <strong>User</strong>: {{post.name}}</p>
              <p>
                <p>
                  <strong>Screen Name</strong>: {{post.screenname}}</p>
                <p>
                  <p>
                    <strong>Console</strong>: {{post.console}}</p>
                  <p>
                    <p>
                      <strong>Game</strong>: {{post.game}}</p>
                    <p>
                      <p>
                        <strong>Post</strong>: {{post.post}}</p>
                      <p>
                        {{!-- <strong>Description:</strong> {{example.description}}</p> --}}
                        <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- Footer -->
<br>
<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        <h3>JNP Productions</h3>
        <p>InstaGame - The place where gamers can communicate. Welcome to our blog</p>
      </div>
      <div class="col align-self-center">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
          &nbsp and &nbsp<a href="https://getbootstrap.com/" target="_blank"><i class="fab fa-bootstrap"></i></a></p>
      </div>
      <div class="col align-self-end">
        <a href="https://github.com/jsf5077/InstaGame"><i class="fab fa-github fa-3x"></i></a>
        <p><a href="/api/posts">API Posts List</a></p>
      </div>
    </div>
  </div>
</footer>